main#namorando {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #707070;
    margin-bottom: 50px;
}

.casalpfp img.pfp {
    border-radius: 50%;
    display: block;
    width: 50%;
}

.casalpfp {
    position: relative;
    display: flex;
}

.casalpfp .heart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: var(--green);
    margin-bottom: 50px;
}

.publicidade {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 315px;
    height: 80px;
    background: #e5e5e5;
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #9a9a9a;
    margin-bottom: 50px;
}

@media (min-width: 961px) {
    header {
        height: 216px;
    }

    .casal {
        width: 380px;
        display: inline-block;
    }
}